/src/public/css
/src/public/js
/src/public/img
/src/public/images
/src/public/build
/src/public/fonts
/src/storage/debugbar/
/src/storage/logs/
/src/storage/framework/cache/
/src/storage/framework/views/
/src/storage/framework/sessions/
/src/node_modules
/src/vendor
/src/*.lock
/src/*-lock*
/src/*.gitignore
/src/*.env
/src/*.cache
/src//bootstrap/cache/*
/src/*.json
/src/public/build/*
/config/web/log/*
/src/storage/framework/cache/*
/src/public/build/assets/*
/.env
